
*,
*::after,
*::before {
	box-sizing: border-box;
}

button{
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
	fill: currentColor;
	cursor: pointer;
	color: inherit;
	display: flex;
	align-items: center;
}


:root {
	font-size: 18px;
	--color-text: #fff;
	--color-text-alt: #767474;
	--color-bg: #0b0a0a;
	--color-link: #aaa;
	--color-link-hover: #fff;

	--color-black: #000000;
	--color-wite: #ffffff;

	--gradient-1: rbg(17, 168, 255);
	--gradient-2: rgb(152, 17, 255);
	--bg-color: rgb(255, 255, 255);
	--main-text: #161616;
	--secondary-text: #ffffff;
}

html {
	scroll-behavior: initial;
}

html, body{
	width: 100%;
	min-height: 100%;
}

body {
	min-height: 100vh;
  font-family: "Inter", "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
	font-optical-sizing: auto; /* 文字サイズに応じて、フォントの太さやディテールを微調整 */
  font-weight: 400;
  font-size: 16px;
  letter-spacing: normal; /* 0 */
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
  overflow-wrap: break-word;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: -9999;

  /* スクロールバー 非表示 */
  scrollbar-width: none; /* Firefox */
}

/* webkit系 Chrome Safari Edge */
/* すべての要素にあてる */
::-webkit-scrollbar{
  display: none;
}

/* ✅ コンテント部分 オープン */
.content-open {
	overflow: hidden;
	height: 100vh;
}

/* ✅ aboutページ オープン */
.js-about-open {
	overflow: hidden;
	height: 100vh;
}

.oh {
    position: relative;
    overflow: hidden
}

.oh__inner {
    will-change: transform;
    display: inline-block;
}

.line {
	transform-origin: 0;
	white-space: nowrap;
	will-change: transform;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

/* ✅ 戻るボタン → work から index.html用 */
.unbutton:focus {
	outline: none;
}

.unbutton span:first-child {
	margin-right: 1rem;
}

.unbutton span:last-child {
	margin-left: 1rem;
}

/* ✅ 戻るボタン → aboutページ用*/

main {
	margin-top: 200px;
	position: relative;
	display: grid;
}

/* ✅ ヘッダー */
.header {

	padding: 1.5rem 2rem;
	width: 100%;
	height: 200px;
	
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	grid-template-areas: 'title' 'prev' 'sponsor';
	grid-row-gap: 5vh;

	align-content: space-between;
	text-transform: uppercase;
	mix-blend-mode: difference;

	position: fixed;
	top: 0;
	z-index: 1000;
}

.header__title {
	grid-area: title;
	display: flex;
}

.header__title-main {
	font-size: 1rem;
	margin: 0;
	font-weight: normal;
	line-height: 1;
	align-self: center;
	text-align: right;
}

.header__title-back {
	position: relative;
	display: flex;
	align-items: flex-end;
	margin-bottom: 0.15rem;
}

.header__title-back span {
	display: none;
}

.header__title-back svg {
	fill: currentColor;
}

.header__prev {
	grid-area: prev;
}

.header__about-btn{
		text-decoration: none;
		color: var(--color-link);
		outline: none;
		cursor: pointer;

		margin: 1rem 0 0;
		justify-self: start;
		/* writing-mode: vertical-rl; */
		/* transform: rotate(180deg); */
	}

/* ✅ preview-wrap */
/* .preview-wrap { */
.p-works {
	grid-area: page;
	padding: 0 2rem 3rem;
	position: relative;
	z-index: 100;
}

/* section全体 */
.content-open .p-works {
	pointer-events: none;
}

.js-about-open .p-works {
	pointer-events: none;
}

.p-work {
	min-height: 400px;
	padding: 3rem 0 0;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	will-change: transform;
}

.p-work__image-inner {
	display: block;
	grid-area: 1 / 1 / -1 / -1;
	cursor: pointer;
}

.p-work__image-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

/* .p-work__img-inner { */
.p-work__image {
	display: block;
	width: 100%;
	height: 100%;
	background-size: 150%;
	background-position: 0% 0%;
	background-repeat: no-repeat;

	transform-origin: 50% 0;
}

.content__meta {
	margin-bottom: 2rem;
	color: var(--color-text-alt);
}

/* .p-work__title { */
.p-work__header {
	text-align: center;
	align-self: center;
	justify-self: center;
	grid-area: 1 / 1 / -1 / -1;
	position: relative;
	transform: translate3d(0,50%,0);
	pointer-events: none;
}

.p-work__title {
	line-height: 1.2;
	margin: 0;
	font-weight: normal;
	font-size: clamp(2rem,10vw,8rem);
	font-family: scotch-display, sans-serif;
	font-weight: 300;
}

.p-work__title > span {
	display: block;
}

.p-work__title > span:last-child {
	display: block;
	padding: 0 1rem;
	transform: translateY(-33%);
	font-family: scotch-display, sans-serif;
	font-weight: 500;
	font-style: italic;
}

.p-work__description {
	margin: 0 auto;
	max-width: 400px;
	text-transform: uppercase;
	line-height: 1.2;
}


/* ✅ content */
.l-content{
	margin-top: 200px;
}

.p-content {
	padding: 2rem;
	width: 100%;
	display: grid;
	grid-template-areas: 
	'back back'
	'content content';
	grid-template-rows: auto 1fr;
	pointer-events: none;

	position: fixed;
	top: 0;
}

.action {
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
}

/* 戻るボタン */
.content-open .action {
	visibility: visible;
	pointer-events: auto;
}

/* 
.js-about-open .action {
	visibility: visible;
	pointer-events: auto;
} */


.action svg {
	width: 2em;
	height: 2em;
}

.action--back {
	justify-self: start;
	grid-area: back;
	padding: 1rem 0;
}

.action span {
	text-transform: uppercase;
}


.p-content__inner {
	/* grid-area: text; */
	/* grid-area: content; */
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	height: 100%;
	opacity: 0;

	display: grid;
	grid-row: 2 / span 2;
	grid-gap: 2vw;
	grid-template-columns: 100%;
	grid-template-areas:
	'img' 
	'thumbs'
	'text';
	grid-template-rows: 20vh min-content auto;
}


/* コンテンツをクリックできる様に */
.content-open .p-content__inner{
	position: relative;
	pointer-events: auto;
	opacity: 1;
}

/* 画像がクリックできなくする */
.content-open .content__image-wrapper{
	pointer-events: none;
}



.content__title {
	font-family: scotch-display, sans-serif;
	font-weight: 400;
	font-size: clamp(3rem,6.5vw,5.5rem);
}

.content__title span {
	display: block;
}

.content__title > span:last-child {
	transform: translateY(-25%);
	font-family: scotch-display, sans-serif;
	font-weight: 500;
	font-style: italic;
	padding: 0 0 0 0.75rem;
}

.p-content__inner .p-work__image-wrapper {
	grid-area: img;
}

/* 遷移先の画像はここにぶち込む */
.content__image-wrapper {
	grid-area: img;

	/* width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative; */
}



.content__thumbs {
	/* grid-area: thumbs;
	display: grid;
	grid-auto-columns: auto;
	grid-auto-flow: column;
	grid-gap: 2vw;
	justify-content: start; */
}

/*  */
.content__thumbs-inner{
	grid-area: thumbs;
	display: grid;
	grid-auto-columns: auto;
	grid-auto-flow: column;
	grid-gap: 2vw;
	justify-content: start;
}

.content__thumbs-item {
	width: 50px;
	aspect-ratio: 1.5;
}

.content__thumbs-item:hover {
	cursor: not-allowed;
}

/* ⭐️ aboutページ */
.l-about{
	margin-top: 100px;
}

.p-about{
	padding: 2rem;
	width: 100%;
	display: grid;
	grid-template-areas:
			'back back'
			'content content';
	grid-template-rows: auto 1fr;
	pointer-events: none;
	position: fixed;
	top: 0;
}

.p-about__inner {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	height: 100%;

	opacity: 0;
}

.js-about-open .p-about__inner{
	position: relative;
	pointer-events: auto;
	opacity: 1;
}

.js-about-open .action{
	visibility: visible;
	pointer-events: auto;
}



.hidden {
	opacity: 0;
	pointer-events: none;
}

@media screen and (min-width: 53em) {
	main {
		grid-template-areas: 'header page';
		grid-template-columns: auto 1fr;
	}

	.header {
		/* position: -webkit-sticky; Safari */
		/* position: sticky; */
		width: auto;
		top: 0;
		height: 100vh;
		/* opacity: 0.5; */
		padding: 2rem;
	}

	.header__title, 
	.header__prev,
	#cdawrap {
		justify-self: start;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
	}

	body #cdawrap {
		justify-self: start;
	}

	.header__prev {
		margin: 1rem 0 0;
	}

	.header__title-back {
		transform: scale3d(1,-1,1);
	}

	/* .header__about-btn{
		text-decoration: none;
		color: var(--color-link);
		outline: none;
		cursor: pointer;

		margin: 1rem 0 0;
		justify-self: start;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
	} */



	.p-work {
		min-height: 90vh;
	}

	.p-work__description {
		margin: -2.5rem auto 0;
	}

	.p-content__inner {
		grid-template-columns: 60% 1fr;
		grid-template-areas:
		'... ...' 
		'img text'
		'thumbs text'
		'... ...';
		grid-template-rows: 2rem 1fr auto 1rem;
	}
	.content__thumbs-item {
		width: 100px;
	}
	.content__text {
		max-width: 400px;
	}
}
